<% @styles = Style.all %>
<table class="table table-striped" id="devices">
  <thead>
    <tr>
    	<th>Image</th>
    	
      <th>Device</th>
      <th>Generic Style</th>
      <% [ "VC", "Push Button", "Power", "FM", "Bluetooth", "Music Program", "Directional Mics" ].each do |x| %>
    	<%= "<th>#{x}</th>".html_safe %>
  		<% end %>
      <th>Actions</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr style = "font-size:20px;" id = "<%= style.id %>">
      <% if style.id.to_s.length == 1 %>
      	<% @id = "0#{style.id}" %>
    	<% else %>
    		<% @id = style.id %>
    	<% end %>
    		<td style = "vertical-align: middle;"><%= image_tag(style.dimage.url(:thumb), :class => "thumbnail", :style => "vertical-align: middle;") %></td>
      	
        <td style = "vertical-align: middle;"><%= style.submodel.model.brand.name %> <%= style.submodel.model.name %> <%= style.submodel.name %> <%= style.name %></td>
        <td style = "vertical-align: middle;"><%= style.generic %></td>
        <% [ "VC", "Push Button", "Power", "FM", "Bluetooth", "Music Program", "Directional Mics" ].each do |x| %>
    		<%= style.options.include?(x) ? "<td style = \"vertical-align: middle;\">Yes <i class=\"icon-ok\"></i></td>".html_safe : "<td></td>".html_safe %>
				<% end %>
        <td style = "vertical-align: middle;">
          <%= link_to 'Review this Product', "#", :class => 'btn btn-danger' %>
        </td><td style = "vertical-align: middle;"><%= @id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.pop_html').popover({ html: true, placement: "bottom" });    
$('.pop_image').popover({ html: true, placement: "bottom" });
$('#devices').dataTable({
  "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
  "sPaginationType": "bootstrap",
  "aaSorting": [[ 11, "desc" ]]
});
</script>

