<% @styles = Style.all %>
<table class="table table-striped" id="devices">
  <thead>
    <tr class= "table-bordered">
    	<th>Image</th>
    	
      <th>Device</th>
      <th>Generic Style</th>
      <% [ "VC", "Push Button", "Power", "FM", "Bluetooth", "Music Program", "Directional Mics" ].each do |x| %>
    	<%= "<th style = \"min-width:50px; \">#{x}</th>".html_safe %>
  		<% end %>
      <th>Actions</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @styles.each do |style| %>
      <tr style = "font-size:20px;" id = "<%= style.id %>">
      <% if style.id.to_s.length == 1 %>
      	<% @id = "0#{style.id}" %>
    	<% else %>
    		<% @id = style.id %>
    	<% end %>
    		<td style = "vertical-align: middle;"><%= link_to image_tag(style.dimage.url(:thumb), :class => "thumbnail", :style => "vertical-align: middle;"), style_path(style) %></td>
      	
        <td style = "vertical-align: middle;"><span class ="btn"><%= link_to "#{style.submodel.model.brand.name} #{style.submodel.model.name} #{style.submodel.name} #{style.name}", style_path(style), :style => "text-decoration:none; color:black;" %></span></td>
        <td style = "vertical-align: middle; text-align:center;\"><span class ="btn"><%= style.generic %><span></td>
        <% [ "VC", "Push Button", "Power", "FM", "Bluetooth", "Music Program", "Directional Mics" ].each do |x| %>
    		<%= style.options.include?(x) ? "<td style = \"text-align:center; vertical-align: middle;\"><span class =\"btn btn-info\"><i class = \"icon-ok icon-white\"> </i></span></td>".html_safe : "<td></td>".html_safe %>
				<% end %>
        <td style = "vertical-align: middle;">
          <%= link_to 'Review this Product', "#", :class => 'btn btn-danger' %>
        </td><td style = "vertical-align: middle;"><%= @id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
$('.pop_html').popover({ html: true, placement: "bottom" });    
$('.pop_image').popover({ html: true, placement: "bottom" });
$(document).ready( function () {
	var oTable = $('#devices').dataTable({
		"sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",
		"aaSorting": [[ 11, "desc" ]],
		});
});
</script>

