<%= simple_form_for @style, :html => { :class => 'form-horizontal' }, :remote => true do |m| %>
    
    <%= m.input :brand_name, :label => 'Brand', :placeholder => 'Brand', :input_html => { :data => {autocomplete_source: brands_path} } %>
    <%= m.input :model_name, :label => 'Model', :placeholder => 'Model' %>
    <%= m.input :submodel_name, :label => 'Submodel', :placeholder => 'Submodel' %>
		<%= m.input :name, :label => 'Marketing Style', :placeholder => 'Market Style' %>
		<%= m.input :generic, :collection => [ "BTE", "RITE", "Thin Tube", "IIC", "CIC", "ITC", "ITE" ], :label => 'Generic Style' %>
		<%= m.input :battery, :collection => [ "10", "312", "13", "675" ],  :label => 'Battery Size' %>
		<%= m.input :programs, :placeholder => "# of Programs" %>
		<%= m.input :channels, :placeholder => "# of Channels" %>
		<%= m.input :options, :collection => [ "VC", "Push Button", "Power", "FM", "Bluetooth", "Music Program", "Directional Mics" ], :input_html => { :multiple => true } %>

    <div class="form-actions" style = "background:none">
      <%= m.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', brands_path, :class => 'btn' %>
    </div>

<% end %>

<script>
$("#style_battery").chosen();
$("#style_generic").chosen();
$("#style_options").chosen();
$("#style_brand_name").parent().append('<span class = "help-inline" id = "icon1"></span>');
$("#style_model_name").parent().append('<span class = "help-inline" id = "icon2"></span>');
$("#style_submodel_name").parent().append('<span class = "help-inline" id = "icon3"></span>');
$("#style_name").parent().append('<span class = "help-inline" id = "icon4"></span>');

$("#style_model_name").focusin(function() {
	var brand = $('#style_brand_name').val();
	$.ajax({
		  url: '/selectmodels?brand_name=' + brand, type: 'get', 
		  dataType: 'json',
		  processData: false,
		  success: function(data) {
		      if (data == "") {
		      		if (brand == "") {
		      		$('#icon1').html('<i class="icon-remove"></i>');
		      		}
		      		else {
		          $('#icon1').html('<i class="icon-pencil"></i> ' + brand);
		          }
		      }
		      else {
		          var source = [];
		          for (i in data) {
		              source.push(data[i]['name']);
		          }
		      $('#style_model_name').autocomplete({ source: source });
		      $('#icon1').html('<i class="icon-ok"></i> ' + brand);
		      }
		  }
	});
});

$("#style_submodel_name").focusin(function() {
	var brand = $('#style_brand_name').val();
	var model = $('#style_model_name').val();
	$.ajax({
		  url: '/selectsubmodels?model_name=' + model + '&brand_name=' + brand, type: 'get', 
		  dataType: 'json',
		  processData: false,
		  success: function(data) {
		      if (data == "") {
		      	if (model == "") {
		      		$('#icon2').html('<i class="icon-remove"></i>');
		      		}
		      		else {
		          $('#icon2').html('<i class="icon-pencil"></i> ' + model);
		          }
		      	}
		      else {
		          var source = [];
		          for (i in data) {
		              source.push(data[i]['name']);
		          }
		          $('#style_submodel_name').autocomplete({ source: source });
		          $('#icon2').html('<i class="icon-ok"></i> ' + model);
		      }
		  }
	});
});

$("#style_name").focusin(function() {
	var brand = $('#style_brand_name').val();
	var model = $('#style_model_name').val();
	var submodel = $('#style_submodel_name').val();
	$.ajax({
		  url: '/submodeltest?submodel_name=' + submodel + '&model_name=' + model + '&brand_name=' + brand, type: 'get', 
		  dataType: 'json',
		  processData: false,
		  success: function(data) {
		      if (data == "") {
		      	if (submodel == "") {
		      		$('#icon3').html('<i class="icon-remove"></i>');
		      		}
		      		else {
		          $('#icon3').html('<i class="icon-pencil"></i> ' + submodel);
		          }
		      }
		      else {
		          var source = [];
		          for (i in data) {
		              source.push(data[i]['name']);
		          }
		          $('#style_submodel_name').autocomplete({ source: source });
		          $('#icon3').html('<i class="icon-ok"></i> ' + submodel);
		      }
		  }
	});
});



</script>
