<%= form_for @style, :html => { :class => 'form-inline', :id => 'styleform' }, :remote => true do |f| %>

    <%= f.text_field :brand_name, data: {autocomplete_source: brands_path}, :class => 'text_field', :placeholder => "Brand"  %>
    
		<%= link_to 'Create Brand', new_brand_path, :remote => true, :class => 'btn btn-primary' %> <span id = "icon1"></span>
		<br /><br />
		<%= f.text_field :model_name, :class => 'text_field', :placeholder => "Model"  %>
		<%= link_to 'Create Model', new_model_path, :remote => true, :class => 'btn btn-primary' %> <span id = "icon2"></span>
    <br /><br />
    
    <%= f.text_field :submodel_name, :class => 'text_field', :placeholder => "Submodel"  %>
		<%= link_to 'Create Submodel', new_submodel_path, :remote => true, :class => 'btn btn-primary' %> <span id = "icon3"></span>
    <br /><br />
    
    <%= f.text_field :name, :class => 'text_field', :placeholder => "Style"  %> <%= f.submit "Create Style", :class => 'btn btn-primary' %>

<% end %>
